# Nessun alias necessario: Apache servirà i file direttamente dalla root
# Se vuoi, puoi aggiungere un Directory block per sicurezza
files:
  "/etc/httpd/conf.d/static-files.conf":
    mode: "644"
    owner: root
    group: root
    content: |
      <Directory "/var/app/current/">
          Options Indexes FollowSymLinks
          AllowOverride None
          Require all granted
      </Directory>

# Copia tutti i file nella root del deploy
container_commands:
  01_copy_static_files:
    command: |
      ls -al /opt/elasticbeanstalk/deployment/app_source_bundle/
      cp /opt/elasticbeanstalk/deployment/app_source_bundle/* /var/app/current/
