files:
  "/etc/httpd/conf.d/log_format.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %{msec_frac}T" combined_with_latency
      CustomLog /var/log/httpd/access_log combined_with_latency

container_commands:
  01_restart_httpd:
    command: "systemctl restart httpd"
