files:
  "/etc/httpd/conf.d/zzz_override_combined.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Override del formato combined con latenza in millisecondi
      LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %{ms}T" combined

container_commands:
  01_test_httpd:
    command: "apachectl -t"
  02_restart_httpd:
    command: "systemctl restart httpd"
